@charset "UTF-8";
// ---------------------------------------------
// common.scss包含默认变量、自定义变量、_mixin、_funciton、_placeholder、_mediaQuery、_normalize、_typography、_helpers以及PC端基本字体样式
// ---------------------------------------------
// 下面为相关变量、_mixin、_funciton、_placeholder、_mediaQuery工具的导入
// ---------------------------------------------
// 导入自定义变量
@import "./utils/_variablesCustom.scss";
// 导入工具包包含默认变量、_mixin、_funciton、_placeholder、_mediaQuery
@import "./utils/_utils.scss";
// ---------------------------------------------
// 下面为直接的css(相关工具的调用)导入
// ---------------------------------------------
// 导入normalize
@import "./base/_normalize.scss";
// 导入排版样式
@import "./base/_typography.scss";
// 导入助手样式
@import "./helpers/_helpers.scss";
// ---------------------------------------------
// 设置PC端字体、body宽度
// ---------------------------------------------
html {
    @include htmlFont();
}

body {
    background-color: #fff;
    min-width: 1260px;
    // 针对IE8单独设置样式
    @include ie8() {
        background-color: blue;
    }
    // 针对IE9单独设置样式
    @include ie9() {
        background-color: red;
    }
}