@charset "UTF-8";
.u-fontBold {
    font-weight: bold !important;
}

.u-textCenter {
    text-align: center !important;
}

.u-textRight {
    text-align: right !important;
}

.u-textLowercase {
    text-transform: lowercase !important;
}

.u-textUppercase {
    text-transform: uppercase !important;
}

.u-textCapitalize {
    text-transform: capitalize !important;
}

.imgWp {
    @at-root #{&} > img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    @at-root a#{&} {
        @include inline-block();
    }
}
