@charset "UTF-8";
.u-fontBold {
    font-weight: bold !important;
}

.u-textCenter {
    text-align: center !important;
}

.u-textRight {
    text-align: right !important;
}

.u-textMainTone {
    color: $mainTone !important;
}

.u-textSubTone {
    color: $subTone !important;
}

.u-textRtl {
    direction: rtl !important;
}

.u-marginR {
    margin-right: $baseGap !important;
}

.u-marginL {
    margin-left: $baseGap !important;
}

.u-fontZero {
    font-size: 0 !important;
}

.u-cursorPointer {
    cursor: pointer !important;
}