@charset "UTF-8";
// ---------------------------------------------
// 开关变量设置
// ---------------------------------------------
$lte7: false; //是否兼容ie6-7
$filter: false; //是否为ie6-8开启css3滤镜兼容，常用于渐变背景
$printStyleSwitch: false; //是否开启打印样式
// ---------------------------------------------
// font相关
// ---------------------------------------------
// html基础字体样式
$baseFontPC: arial, \5b8b\4f53, "Hiragino Sans GB", "Microsoft YaHei", sans-serif; //PC端,$pageType为PC
$baseFontM: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; //$pageType为M
// 常用字体
$fontSong: \5b8b\4f53; //宋体
$fontYaHei: "Microsoft YaHei"; //微软雅黑
// ---------------------------------------------
// 颜色
// ---------------------------------------------
// 页面主要色调
$mainTone: #3da4fe;
$subTone: #fe6e00;
// 文字颜色
$mainTextColor: #666;
$subTextColor: #ccc;
// 边框颜色
$baseBorderColor: #c7c7c7;
// 按钮文字颜色
$mainButtonColor: #fff;
// 辅助颜色
$dangerColor: #a94442;
$warnningColor: #8a6d3b;
// ---------------------------------------------
// 尺寸
// ---------------------------------------------
// 设计图尺寸，用于rem()和设置html的字体大小
$designWidth: 750px;