a.c-Btn, a.c-BorderBtn {
  -webkit-tap-highlight-color: transparent; }

button, [type="button"], [type="submit"], [type="reset"], input.c-Field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0; }

a.c-Btn, a.c-BorderBtn {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

a.c-Btn, a.c-BorderBtn {
  -webkit-touch-callout: none; }

.c-DoubleWing:before, .c-DoubleWing:after {
  content: "";
  display: table; }

.c-DoubleWing:after {
  clear: both;
  overflow: hidden; }

:disabled, [disabled], [aria-disabled].c-BorderBtn {
  background-color: transparent !important; }

.c-Btn, .c-BorderBtn {
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  padding: 0 .8em;
  line-height: 2em;
  height: 2em;
  text-align: center;
  display: inline-block;
  vertical-align: middle; }

a.c-Btn, a.c-BorderBtn {
  text-decoration: none; }

.c-Btn {
  background-color: #999;
  color: #fff;
  border: none; }
  .c-Btn:active {
    box-shadow: 0 0 0px 1em rgba(0, 0, 0, 0.1) inset; }
  .c-Btn--primary {
    background-color: #3da4fe;
    color: #fff; }
  .c-Btn--radius {
    border-radius: 3px; }
  .c-Btn--round {
    border-radius: 1em/1em; }

.c-BorderBtn {
  background-color: transparent;
  color: #999;
  border: 1px solid #999; }
  .c-BorderBtn:active {
    color: gray;
    border-color: gray; }
  .c-BorderBtn--primary {
    color: #3da4fe;
    border-color: #3da4fe; }
    .c-BorderBtn--primary:active {
      color: #0a8cfe;
      border-color: #0a8cfe; }
  .c-BorderBtn--radius {
    border-radius: 3px; }
  .c-BorderBtn--round {
    border-radius: 1em/1em; }

.c-Field {
  display: block;
  width: 100%;
  height: 2em;
  line-height: 2em;
  padding: 0 .8em;
  border: 1px solid #c7c7c7;
  transition: all .3s ease-in-out; }
  .c-Field--radius {
    border-radius: 3px; }
  .c-Field:focus {
    border-color: #3da4fe;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(61, 164, 254, 0.6); }
  textarea.c-Field {
    resize: none;
    line-height: inherit;
    height: auto;
    padding-top: .6em;
    padding-bottom: .6em;
    word-wrap: break-word;
    word-break: break-all; }
  select[multiple].c-Field {
    min-height: 6em; }

.c-File {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer; }
  .c-File input[type="file"] {
    display: none; }

.c-Radio {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative; }
  .c-Radio input[type="radio"] {
    display: none; }
    .c-Radio input[type="radio"]:checked ~ .c-Radio-icon:before {
      opacity: 1; }
    .c-Radio input[type="radio"][disabled] ~ .c-Radio-icon:after {
      border-color: #c7c7c7; }
    .c-Radio input[type="radio"][disabled] ~ .c-Radio-icon:before {
      background-color: #c7c7c7; }
  .c-Radio-icon {
    display: inline-block;
    vertical-align: -0.2em;
    width: 1em;
    height: 1em;
    overflow: hidden;
    position: relative;
    text-indent: -9999em; }
    .c-Radio-icon:after {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -0.5em;
      border-radius: 50%;
      border: 1px solid #3da4fe;
      background-color: transparent; }
    .c-Radio-icon:before {
      content: "";
      display: block;
      width: 0.5em;
      height: 0.5em;
      position: absolute;
      top: 50%;
      right: 0.25em;
      margin-top: -0.25em;
      border-radius: 50%;
      background-color: #3da4fe;
      opacity: 0;
      transition: opacity .3s ease-in-out; }

.c-Checkbox {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative; }
  .c-Checkbox input[type="checkbox"] {
    display: none; }
    .c-Checkbox input[type="checkbox"]:checked ~ .c-Checkbox-icon:before {
      opacity: 1; }
    .c-Checkbox input[type="checkbox"][disabled] ~ .c-Checkbox-icon:after {
      border-color: #c7c7c7; }
    .c-Checkbox input[type="checkbox"][disabled] ~ .c-Checkbox-icon:before {
      color: #c7c7c7; }
  .c-Checkbox-icon {
    display: inline-block;
    vertical-align: -0.2em;
    width: 1em;
    height: 1em;
    overflow: hidden;
    position: relative;
    text-indent: -9999em; }
    .c-Checkbox-icon:after {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -0.5em;
      border: 1px solid #3da4fe;
      background-color: transparent; }
    .c-Checkbox-icon:before {
      content: "\2713";
      color: #3da4fe;
      text-indent: -0.2em;
      text-indent: -0.3em \9;
      text-align: center;
      font-style: normal;
      font-size: 0.875em;
      font-family: \5b8b\4f53 ;
      display: block;
      width: 0.5em;
      height: 0.5em;
      line-height: 0.5em;
      position: absolute;
      top: 50%;
      right: 0.25em;
      margin-top: -0.25em;
      opacity: 0;
      transition: opacity .3s ease-in-out; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 100; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

.c-Loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 99999999999;
  transition: .3s;
  text-align: center; }
  .c-Loading > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100px; }

html {
  font-size: 20vw;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  height: 100%; }
  @media screen and (max-width: 320px) {
    html {
      font-size: 64px; } }
  @media screen and (min-width: 640px) {
    html {
      font-size: 128px; } }

body {
  font-size: 16px;
  max-width: 640px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  height: 100%;
  border: 1px solid red; }
  @media screen and (min-width: 375px) {
    body {
      font-size: calc(100% + 2 * (100vw - 375px) / 39);
      font-size: calc(16px + 2 * (100vw - 375px) / 39); } }
  @media screen and (min-width: 414px) {
    body {
      font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
      font-size: calc(18px + 4 * (100vw - 414px) / 586); } }
  @media screen and (min-width: 600px) {
    body {
      font-size: calc(125% + 4 * (100vw - 600px) / 400);
      font-size: calc(20px + 4 * (100vw - 600px) / 400); } }
  @media screen and (min-width: 1000px) {
    body {
      font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
      font-size: calc(22px + 6 * (100vw - 1000px) / 1000); } }

.c-Main {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .c-Main-hd {
    flex: 0 0 auto; }
  .c-Main-bd {
    flex: 1 1 auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
  .c-Main-ft {
    flex: 0 0 auto; }

.c-Box {
  margin-top: 0.06667rem;
  border: 1px solid #ccc;
  width: 2.5rem;
  font-size: 0.16rem; }

.c-TestAspectRatio {
  width: 80%;
  border: 1px solid blue; }
  .c-TestAspectRatio::before {
    content: "";
    float: left;
    height: 0;
    padding-top: 50%; }
  .c-TestAspectRatio::after {
    content: "";
    display: table;
    clear: both; }

.c-DoubleWing-main {
  float: left;
  width: 100%; }

.c-DoubleWing-mainInner {
  margin-left: 60px;
  margin-right: 80px; }

.c-DoubleWing-left {
  float: left;
  width: 60px;
  margin-left: -100%; }

.c-DoubleWing-right {
  float: left;
  width: 80px;
  margin-left: -80px; }
