@charset "UTF-8";
.c-Loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 99999999999;
    transition: .3s;
    text-align: center;
    display: block;
    @at-root #{&}-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        font-size: rem(28px);
        color: #333;
    }
    @at-root #{&}.hasBg {
        @include bgAlpha();
    }
    @at-root #{&}.is-hided {
        display: none;
    }
}